@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
  background: #dbe2f0;
  font-family: "Open Sans", sans-serif;
  display: flex;
}

.main {
  margin: auto;
  width: 50%;
  padding: 10px;
}

.title {
  text-align: center;
  color: #018da0;
}

.search {
  display: flex;
  width: 50%;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.searchTerm {
  width: 100%;
  border: 3px solid #00b4cc;
  padding: 5px;
  height: 20px;
  border-radius: 5px;
  outline: none;
  color: #9dbfaf;
}

.searchTerm:focus {
  color: #00b4cc;
}

.showList {
  position: absolute;
  display: flex;
  margin-top: 10%;
  width: 100%;
}

.ul {
  list-style: none;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: left;
}

.listItem {
  color: #00b4cc;
  width: auto;
}

footer {
  background-color: transparent;
  margin-top: -0.5em;
  padding: 2em;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  color: #018da0;
}

/*
.card {
  color: #00b4cc;
  width: auto;
  border: 3px solid #00b4cc;
  width: 100%;
}


.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #00b4cc;
  background: #00b4cc;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}*/
